/* home.css */

/* Regras gerais da Sidebar */
.sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 240px; /* Largura definida para controle total */
  height: calc(100vh - 56px);
  background: #212529;
  z-index: 1000;
  overflow-y: auto;
  border-right: 1px solid #333;
  transition: all 0.3s;
}

.module-content {
  min-height: 1500px;
}

/* Altura da Navbar (56px) + Altura do cabeçalho do módulo (aprox 50px) + margem */
.accordion-item {
  scroll-margin-top: 60px !important;
}

/* Ajustes de Layout Desktop */
@media (min-width: 992px) {
  .main-content {
    margin-left: 240px; /* Empurra o conteúdo exatamente o tamanho da sidebar */
    width: calc(100% - 240px);
  }
  body {
    padding-bottom: 0;
  }
}

/* Ajustes de Layout Mobile */
@media (max-width: 991px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }
  body {
    padding-bottom: 90px; /* Espaço para a barra de baixo */
  }
}

/* Estilização Interna Sidebar */
.sidebar .nav-link {
  color: #ccc;
  border-radius: 0;
  margin-bottom: 5px;
}

.sidebar .nav-link.active {
  background: #0d6efd;
  color: white;
}

.sidebar .nav-link:hover:not(.active) {
  background: #343a40;
  color: white;
}

/* Choices.js ajustes */
.choices {
  margin-bottom: 0;
  height: 32px;
  z-index: 2;
}
.choices__inner {
  min-height: 32px;
  padding: 2px 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background-color: #fff;
}
